.portfolio_images{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.portfolio_image  {
    position: relative;
    width: 274px;
    height: 206px;
    margin: 10px;
}
.portfolio_image img{
display: block;
width: 100%;
height: 100%;
object-fit: cover;
transition: .3s all ease-in-out;
border: 0 none;
 opacity: 0.8;
}
.portfolio_image img:hover{
transform: scale(1.2);
}

.text{
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #4AAAA5;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}